<!-- <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
      </div>
    </div>
  </div>
</div> -->


<ul class="list-group ">
  <li
    class="list-group-item"  data-bs-toggle="tooltip"
    *ngFor="let da of data; let i = index">
    {{ da.object }} ({{da.object_version}})
    <div class="float-end">
      <!-- <button class="btn"><i class="bi bi-info-lg"></i></button> -->
      <button class="btn btn-sm" title="Delete Annotation"><i class="bi bi-x-square-fill text-danger"></i></button>
    </div>
  </li>
</ul>